  /*.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }*/ 

  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
    background-color: white;
    border-bottom-color: rgb(106, 60, 177);
  }
  
  h1.example-app-name {
    color: rgb(106, 60, 177);
    margin: auto;
    padding-left: 0;
  
   /*  margin-left: -45px; */
 

  }

/* .appheader > ::ng-deep figure{
    position: absolute;
    text-align: center !important;
  } */
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }

  .evidence-container{
    padding-left: 10px;
    top: 70px;
    position: relative;
}

.top-toolbar{
    top: 0;
    border-bottom-color: rgb(106, 60, 177);
    background-color: white;
    border-bottom: 1px solid;
}

.menu-bar{
    position: relative;
    color: rgb(106, 60, 177);
    background-color: white;
    border-bottom: 1px solid;
    height: 40px;
}

.thirdnav.mat-toolbar.mat-toolbar-single-row{
    top: 40px;
    position: absolute;
    background-color: white;
    color: rgb(106, 60, 177);
    border-bottom: 1px solid;
    height: 40px;
}


.list-holder{
    background: rgb(106, 60, 177);
}

.list-items{
    color: white;
    border-bottom: 1px dashed;
}


.exit{
    position: absolute;
    right: 0;
    color: red;
    /*font-size: 0.8em;*/
    /*float: right;*/
    margin-right: 30px;
}
.center{
    margin: auto;
    text-align: center;
}

/* .menutext{
    margin-left: -25px;
}  */

.cont{
    height: 100vh;

}

/* .breaker{
    height: 1px;
    border-left: 1px white solid;
    width: 1px;
}
*/
.centerpad{
    height: 30px;
    width: 2px;
    margin-left: 20px;
    background-color: rgb(106, 60, 177);;
}

.burg{
    margin-right: -30px;
    color: rgb(106, 60, 177);
}


.nav_icon{
    padding-right: 10px;
}



