<div class="example-toolbar menu-bar">
    <mat-toolbar>
      <div class="button-row">
        <mat-form-field class="date_input example-full-width center">
            <!-- <input class="text_input" matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" type="date" [(ngModel)]="newEvidence.when" name="when" placeholder="When did it happen?"> -->
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="button-row">
        <mat-form-field class="location_input" floatPlaceholder="never">
            <textarea matInput class="text_input" [(ngModel)]="newEvidence.where" name="where" placeholder="Where did it happen?"></textarea>
        </mat-form-field>
        <mat-icon>location_on</mat-icon>
      </div>
    </mat-toolbar>

    <mat-toolbar class="thirdnav">
        <div class="button-row">
          <button mat-button  (click)="audioFileInput.click()"><mat-icon>mic</mat-icon></button> <input hidden type="file" #audioFileInput accept="audio/*" (change)="selectFile($event, '/audio')"/>
        </div>

        <div class="button-row">
          <button mat-button (click)="cameraFileInput.click()"><mat-icon>photo_camera</mat-icon></button> <input hidden type="file" #cameraFileInput accept="image/*" (change)="selectFile($event, '/images')"/>
        </div>

        <div class="button-row">
          <button mat-button (click)="galleryFileInput.click()"><mat-icon>photo_size_select_actual</mat-icon></button> <input hidden type="file" accept="image/*" #galleryFileInput (change)="selectFile($event, '/images')"/>
        </div>

        <div class="button-row">
          <button mat-button (click)="videoFileInput.click()"><mat-icon>ondemand_video</mat-icon></button> <input hidden type="file" accept="video/*" #videoFileInput (change)="selectFile($event, '/video')"/>
        </div>
    </mat-toolbar>

    <mat-toolbar *ngIf="newEvidence.image || newEvidence.audio || newEvidence.video">
      <img src="{{ newEvidence.image }}" alt="" height="40" width="40" *ngIf="newEvidence.image">
      <audio *ngIf="newEvidence.audio" controls>
        <source src="{{ newEvidence.audio }}" type="audio/mp3">
      </audio>
      <video *ngIf="newEvidence.video" width="50" height="50" controls>
        <source src="{{ newEvidence.video }}" type="video/mp4">
      </video>
    </mat-toolbar>

    <div class="entry_form">
        <mat-form-field class="form_field">
          <textarea matInput [(ngModel)]="newEvidence.what" name="what" #input maxlength="200" class="form_text" placeholder="What happened?" matTextareaAutosize matAutosizeMinRows="2"
                      matAutosizeMaxRows="5"></textarea>
          <mat-hint align="end">{{input.value?.length || 0}}/200</mat-hint>
       </mat-form-field>

        <mat-form-field class="wit_field">
            <textarea matInput placeholder="Enter names of witnesses (if any)" matTextareaAutosize matAutosizeMinRows="2"
                        matAutosizeMaxRows="5"></textarea>
         </mat-form-field>

         <div>
            <input type="submit" class= "submit_button btn mat-raised-button" value="DONE" (click)="addNewEvidence()" mat-align="center">
        </div>
    </div>
</div>

<div>
  <button mat-button (click)="toggleViewLog()">
    <div *ngIf="!viewLog"><mat-icon>chevron_right</mat-icon>{{ viewLogMessage }}</div>
    <div *ngIf="viewLog"><mat-icon>keyboard_arrow_down</mat-icon>{{ hideLogMessage }}</div>
  </button>
</div>

<!-- TODO: Put this in the Evidence Logs page -->
<!-- <evidence-log></evidence-log> -->

<div *ngIf="viewLog">
  <div *ngFor="let evidence of evidences | async">
    <mat-card *ngIf="evidence.display">
      <mat-card-subtitle>{{ evidence.when | date }} at {{ evidence.where }}</mat-card-subtitle>
      <mat-card-title>{{ evidence.what }}</mat-card-title>
      <!-- <button type="button" (click)="deleteEvidence(evidence)" name="button">X</button> -->
      <img src="{{ evidence.image }}" alt="" height="20" width="20" *ngIf="evidence.image">
      <audio *ngIf="evidence.audio" controls>
        <source src="{{ evidence.audio }}" type="audio/mp3">
      </audio>
      <video *ngIf="evidence.video" width="50" height="50" controls>
        <source src="{{ evidence.video }}" type="video/mp4">
      </video>

    </mat-card>
  </div>
</div>
